*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}
:root{
    --background__header: #3f7d20;
    --background__light: #e5e6e4;
    --background__dark: #fbfefb;
    --color__out: #b11b1b;
    --color__int: #023e8a;
    --color__total: #008000;
    --color: #fff;
    --dark__color: #343a40;
    --color__text__light: #ced4da;
    --color__text__dark: #adb5bd;
}

html{
    font-size: 93,75%;
}

body{
    font-family: 'Poppins';
    background-color: var(--background__light);
}

.sr__only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

#header{
    padding: 0 0 6rem;
    background-color: var(--background__header);
    color: #fff;
    text-align: center;
}

#header h1{
    font-weight: 200;
}

.finance{
    width: min(90vw, 800px);
    margin: 0 auto;
}

#balance{
    margin-top: -6rem;
}

#balance h2{
    color: var(--color);
    font-weight: 300;
}

.card{
    height: 130px;
    /* width: 215px; */
    background-color: var(--color);
    margin: 20px auto;
    border-radius: 5px;
}

.card h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem 0;
    font-weight: 300;
    color: var(--dark__color);
}

.card p{
    padding: 1.5rem 1rem 0;
    font-size: 2rem;
}

.out p{
    color: var(--color__out);
}

.out i{
    color: var(--color__out);
}

.int p{
    color: var(--color__int);
}

.int i{
    color: #04D361;
}

.total{
    background-color: var(--color__total);
    color: var(--color);
}

.total h3, i{
    color: var(--color);
}

.data__table{
    width: 100%; 
    border-spacing: 0 0.5rem;    
}

table tbody tr{
    background: var(--background__dark);
    opacity: 0.7;
    height: 60px;
    border-radius: 5px;
}

table tbody tr:hover{
    color: var(--dark__color);
    opacity: 1;
}

table th{
    background: var(--color);
    height: 40px;
    /* border-radius: 5px; */
    color: var(--dark__color);
    font-weight: 400;
    text-align: left;
    padding-left: 1.5rem;
}

table td{
    padding-left: 1.5rem;
}

#transaction{
    margin-top: 2rem;
}

#transaction h2{
    font-weight: 300;
    color: var(--dark__color);
}

a{
    color: #49aa26;
    text-decoration: none;
}

a:hover{
    color: #3dd705;
}

.button.new{
    display:  inline-block;
    margin-bottom: 0.9rem;
}

tr i{
    color: var(--color__out);
    cursor: pointer
}

/* =============FOOTER==============*/

footer p{
    text-align: center;
    margin: 2rem;
    color: var(--dark__color);
    opacity: 0.7;
}

/* =============MODAL==============*/
.modal__overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
}

.active{
    opacity: 1;
    visibility: visible;
}

.modal{
    padding: 3rem;
    background-color: #F0F2f5;
    width: 500px;
}

.modal h2{
    text-align: center;
    font-weight: 400;
    color: var(--dark__color);
}

.input__group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input__group input{
    height: 50px;
    width: 350px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    padding: 0 1.5rem;
    outline: none;
    text-transform: uppercase;
}

.input__group input:hover{
    border: 1px solid var(--color__total);
}

.input__group small{
    font-size: 0.7rem;
    opacity: 0.5;
}

.cancelar{
    color: #b11b1b;
    padding: 0.8rem;
    opacity: 0.7;
}

.cancelar:hover{
    color: #d92121;
    opacity: 1;
}

small{
    padding: 0.5rem 0;
}

button{
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #49aa26;
    border: none;
    color: var(--color);
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}

button:hover{
    background-color: #3dd705;
    transition: ease-in-out 0.3s;
}

/* =============RESPONSIVE==============*/

@media(min-width: 800px){
    html{
        font-size: 87.5%;
    }

    #balance{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .card{
        width: 240px;
    }
}

@media(max-width: 400px){
    .data__table{
        display: block;
        overflow-x: auto;
    }

    tr i{
        color: var(--color__out);
        cursor: pointer;
        padding: 0.5rem;
    }

    .modal{
        width: 90%;
        padding: 2rem;
    }

     h2{
       margin-bottom: 0.5rem;
    }

    .input__group input{
        width: 260px;
    }

    .input__group small{
        text-align: center;
        font-size: 0.7rem;
        width: 90%;
    }
}